.quick-release {
    display: flex;
    justify-content: center;
    font-size: 16px;
    margin-top: 50px;
    overflow-x: scroll;
}

.quick-release .quick-release-item {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100px;
    position: relative;
}

.quick-release .quick-release-item.arrow {
    width: 80px;
}


.quick-release .line {
    height: 1px;
    width: 50px;
    background-color: #666666;

}

.quick-release .quick-release-icon {
    display: flex;
    align-items: center;
    width: 80px;
    height: 80px;
    justify-content: center;
    margin-bottom: 10px;

}

.quick-release .quick-release-item.arrow .quick-release-icon{
    width: 50px;
}

.quick-release .demand-icon-bg {
    background-color: #1e9fff;
    border-radius: 50%;
}

.quick-release .badge {
    position: absolute;
    right: -10px;
    top: 0;
}

.quick-release .quick-release-icon .icon {
    width: 45px;
    height: 45px;
}

.quick-release .quick-release-icon .rightArrowPng {
    width: 50px;
    height: 50px;
}

.quick-release .demand-title {
    height: 30px;
    width: 100%;
    text-align: center;
}

.quick-release + .tips {
    font-size: 16px;
    color: #666666;
    text-align: center;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
}
