.quick-entrance {
    font-size: 14px;
    font-weight: 700;
    color: #16b777;
    height: 82px !important;

    & > div:hover {
        cursor: pointer;
        color: #1e9fff;
    }

    i {
        font-size: 28px;
        margin-bottom: -10px;
    }
}

.layui-card.panel {
    border-radius: 5px;

    .layui-card-header {
        height: 42px;
        line-height: 42px;
        padding: 0 15px;
        border-bottom: 1px solid #f6f6f6;
        color: #333;
        border-radius: 2px 2px 0 0;
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .card-header-title {
            margin: 0 5px 0 10px;
            font-size: 15px;
            font-weight: bold;
        }

        .layui-form {
            display: flex;
        }
    }

    .layui-card-body {
        height: 40px;
        line-height: 50px;
        padding: 15px;

        & > p {
            height: 100%;
            line-height: normal;
            font-size: 38px;
            color: #666;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-all;
            white-space: nowrap;
        }
    }

    &.chart .layui-card-body {
        height: 260px;
    }

    &.chart.table .layui-card-body {
        height: 430px;
    }

    .admin-card-footer {
        height: 22px;
        padding: 10px 15px;
    }
}

.layui-timeline-item {
    padding-bottom: 10px;

    .layui-timeline-title {
        margin-bottom: 0;
    }

    .layui-timeline-content {
        p {
            margin-top: 8px;
        }
    }
}